beautifulsoup4==4.12.3
chroma-hnswlib==0.7.6
chromadb==0.5.23
dashscope==1.20.14
fastapi==0.115.6
fastjsonschema==2.21.1
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.37.0
googleapis-common-protos==1.66.0
huggingface-hub==0.27.0
langchain==0.3.13
langchain-chroma==0.1.4
langchain-community==0.3.13
langchain-core==0.3.28
langchain-ollama==0.2.2
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
langgraph==0.2.60
langgraph-checkpoint==2.0.9
langgraph-sdk==0.1.48
langserve==0.3.1
langsmith==0.2.7
numpy==1.26.4
prompt_toolkit==3.0.48
rank-bm25==0.2.2
SpeechRecognition==3.14.0
SQLAlchemy==2.0.36
streamlit==1.41.1
uvicorn==0.34.0
vosk==0.3.45
